////////////////////////////////// Variables from Bootstrap

// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
		(
			"100": $gray-100,
			"200": $gray-200,
			"300": $gray-300,
			"400": $gray-400,
			"500": $gray-500,
			"600": $gray-600,
			"700": $gray-700,
			"800": $gray-800,
			"900": $gray-900
		),
		$grays
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
		(
			"blue":       $blue,
			"indigo":     $indigo,
			"purple":     $purple,
			"pink":       $pink,
			"red":        $red,
			"orange":     $orange,
			"yellow":     $yellow,
			"green":      $green,
			"teal":       $teal,
			"cyan":       $cyan,
			"white":      $white,
			"gray":       $gray-600,
			"gray-dark":  $gray-800
		),
		$colors
);

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
		(
			"primary":    $primary,
			"secondary":  $secondary,
			"success":    $success,
			"info":       $info,
			"warning":    $warning,
			"danger":     $danger,
			"light":      $light,
			"dark":       $dark
		),
		$theme-colors
);

////////////////////////////////////////////////// END VARS

/*
 * @copyright alexandr Belov aka alex Roosso. All rights reserved.
 * @author    alex Roosso <info@roocms.com>
 * @license   http://www.gnu.org/licenses/gpl-3.0.html
 *
 * You should have received a copy of the GNU General Public License v3
 * along with this program.  If not, see http://www.gnu.org/licenses/
 */

///////////////////////////////////////////////////// ADDON

// Add themes
$theme-colors: map-merge(
		(
			"white":    $white,
			"gray":     $gray-600,
			"black":    $black
		),
		$theme-colors
);

// If you want to use new color schemes,
// add the code that is higher in to the file _variables.scss from the bootstrap distribution


// Blockqote
@each $title, $color in $theme-colors {
	blockquote.quote-#{$title} {
		border-left: .2rem solid #{$color};
		background-color: fade-out(map-get($theme-colors, light), .05);

		& > h1,	> h2, > h3, > h4, > h5, > h6 {
			color: #{$color};
		}
	}
}

blockquote > p:last-child {
	margin-bottom: 0;
}

// Border
@for $i from 2 through 3 {
	.border-#{$i} { border-width: #{$i}px; }
}

// Correct BG-*
[class^="bg-"] {
	padding: 1rem;
}